.LoginForm .test-data {
    background: #d8f5fd;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.LoginForm .test-data strong {
    display: block;
    text-align: center;
    margin-bottom: 8px;
}

.LoginForm .test-data .field {
    margin-bottom: 6px;
}

.LoginForm .test-data .field i {
    margin-right: 13px;
    font-size: 1.2rem;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    display: block;
    width: 100%;
    padding: 6px 8px;
    margin-top: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.input-container .input-error-message {
    color: var(--primary);
    font-weight: bold;
}

.submit-login-btn {
    background: var(--primary);
    width: 100%;
    padding: 9px;
    color: #fff;
    margin: 10px 0 25px;
}

.login-error-message {
    color: #2fa8f8;
    text-align: center;
}
